<h3> Detalle libro</h3>
<div>
    <div>
        <label> <b> Nombre: </b></label> {{libro.nombre}}
    </div>
    <div>
        <label> <b> Descripcion: </b></label> {{libro.descripcion}}
    </div>
    <div>
        <label> <b> Autor: </b></label> {{libro.autor}}
    </div>
    <div>
        <label> <b> Fecha Publicación: </b></label> {{libro.fecha_publicacion}}
    </div>
    <div>
        <label> <b> Número ejemplares: </b></label> {{libro.numero_ejemplares}}
    </div>
    <div>
        <label> <b> Costo: </b></label> {{libro.costo}}
    </div>


</div>